<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @house.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Year:</strong>
  <%= @house.year %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @house.remarks %>
</p>











<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
