<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @house.rent %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @house.year %>円
</p>

<p>
  <strong>備考:</strong>
  <%= @house.remarks %>
</p>

<p>----------------------- </p>

<% @house.stations.each do |station| %>
  <p>
    <strong>路線名:</strong>
    <%= station.line %>
  </p>

  <p>
    <strong>駅:</strong>
    <%= station.station %>
  </p>

  <p>
    <strong>徒歩分数:</strong>
    <%= station.minute %>
  </p>
<% end %>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
